<%- include('../partials/head', { title: '500' }) %>
<%- include('../partials/topbar') %>
<main class="error-page">
  <div class="error-code">500</div>
  <div class="error-msg">something went wrong</div>
  <a href="/" class="btn btn--ghost btn--sm">go home</a>
</main>
<%- include('../partials/footer') %>
